.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
    
    grid-template-areas:
        "aboutJoImage aboutJoImage aboutJoImage aboutJoImage"
        "AboutP1 AboutP1 AboutP1 AboutP1"
        "AboutP2 AboutP2 AboutP2 AboutP2";
}

.aboutJoImage {
    grid-area: aboutJoImage;
    display: flex;
    justify-content: center;
}

.joImageAbout {
    border-radius: 16px;
    width: 40vw;
    border-radius: 360px;
}

.AboutP1 {
    grid-area: AboutP1;
}

.AboutP2 {
    grid-area: AboutP2;
}