.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "info";
}

.info {
    grid-area: info;
    width: 100%;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: block;
}

form {
    padding: 5%;
    background-color: var(--grey-fade);
}

.messageContact {
    height: 200px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 1000px) {
    .formMargin {
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 1%;
    }
}

@media screen and (min-width: 1001px) {
    .formMargin {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 1%;
    }
}