.container {
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "info JoImage";
}

.info {
    grid-area: info;
}

.JoImage {
    grid-area: JoImage;
    display: flex;
    justify-content: center;
}

.homeImage {
    width: 40vw;
    border-radius: 360px;
}