/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 1050px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "JoImage"
        "info";
    }

    .info {
        grid-area: info;
        padding: 6%;
    }

    .JoImage {
        grid-area: JoImage;
        display: grid;
        place-items: center;
        padding: 0;
    }

    .homeImage {
        width: 90vmin;
        height: auto;
        border-radius: 10px;
    }
    .homeMargin {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }
}

@media screen and (min-width: 1051px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        grid-template-areas:
            "info JoImage";
            width: 100%;
    }

    .info {
        grid-area: info;
        padding: 5%;
    }

    .JoImage {
        grid-area: JoImage;
        display: grid;
        place-items: center;
        padding: 0;
    }

    .homeImage {
        width: 70vmin;
        height: auto;
        border-radius: 36px;
    }

    .homeMargin {
        margin-left: 25%;
        margin-top: 1%;
    }
}

h2 {
    font-size: 1em;
    color: var(--black);
}

h1 {
    font-size: 1.3em;
    color: var(--navy);
}