:root {
    /* Setup some variables for the colour palette */
    --green: rgb(159, 214, 224);
    --purple: rgb(206, 202, 230);
    --navy: rgb(78, 109, 179);
    --grey: rgb(219, 231, 242);
    --white: rgb(250, 250, 250);
    --black: rgb(20, 20, 20);

    /* Setup some faded versions of the colour pallete  */
    --green-fade: rgba(159, 214, 224, 0.3);
    --purple-fade: rgba(206, 202, 230, 0.3);
    --navy-fade: rgba(78, 109, 179, 0.3);
    --grey-fade: rgba(219, 231, 242, 0.3);
    --white-fade: rgba(250, 250, 250, 0.3);
    --black-fade: rgba(20, 20, 20, 0.3);
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--white);
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-size: 2vh;
    line-height: 2;
}



.dropShadow {
    -webkit-box-shadow: 0px 0px 6px 0px var(--grey);
    box-shadow: 0px 0px 6px 0px var(--grey);
}

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
    border-radius: 64px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: var(--black);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
    margin-left: 2%;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: var(--navy);
    translate: 0px 2px;
    transition: 0.1s;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: var(--navy);
}

/* Generic minimal line */
.slimBorder {
    border: 1px solid var(--purple);
    border-style: none none solid solid;
}

/* Purple line spacer to use inbetween text blocks */
.purpleLine {
    border: 1px solid var(--purple);
    border-style: solid;
    width: 100%;
    /* filter: drop-shadow(1px 1px 1px var(--green)); */
    border-radius: 32px;
    margin-bottom: 2%;
}

/* add a footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--green-fade);
    color: var(--white);
    text-align: center;
    backdrop-filter: blur(10px);
}

a {
    color: var(--black);
    font-weight: bold;
}

.navSpacer {
    width: 100%;
    height: 5vmin;
}

ul {
    list-style: none;
}

ul li::before {
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    content: "\2022";
    color: var(--green);
    display: inline-block;
    font-weight: bolder;
    font-size: 2vh;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */
}

/* Add media queries for responsiveness - when the screen is 600px wide or less, stack the links on top of each other */
@media screen and (max-width: 600px) {
    .topnav a {
        float: none;
        display: block;
        text-align: left;
    }
    .navSpacer {
        height: 50vmin;
    }
    .defaultMargin {
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 1%;
    }
}

/* Add media queries for responsiveness - when the screen is 600px wide or less, stack the links on top of each other */
@media screen and (min-width: 601px) {
    .defaultMargin {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1%;
    }
}