.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
        "podcasts";
}

.podcasts {
    grid-area: podcasts;
    text-align: center;
    padding-bottom: 40px;
}

.spotifyPodcast {
    display: block;
    margin: 0 auto;
    height: 30vh;
    min-height: 200px;
    max-height: 600px;
    width: 90vw;
    min-width: 300px;
    max-width: 1200px;
}

.podcasts p {
    margin-top: 0.5em;
}

